body{
     height: 100vh;
     width: 100vw;
     display: flex;
     justify-content:center;
     align-items: center;
     margin: 0;
     background-color: rgb(146, 34, 112) !important;
}
     
.wrapper{
   background-color: rgba(248, 248, 19, 0.705);
   margin-top: 0.5em;
   margin-bottom: 0.5em;
   padding: 1em;
}

.scorebar {
  background-color: rgb(18, 160, 5);
  height: 10vh;
  display: flex;
}



#gameBoard{
  background-color: rgb(238, 240, 162);
  width: 95vmin;
  height: 80vh;
  display: grid;
  grid-template-rows: repeat(20,1fr);
  grid-template-columns: repeat(20,1fr);
}
.snake{
  background-color: hsl(200,100%,50%);
  border: .25vmin solid black;
  background-image:url(../img/apple_00.png);
}
.target{
  background: rgb(14, 212, 90);
  border: .25vmin solid black;
  border-radius: 40%;
  height: 75%;
  width: 75%;
}
/* score */
.score-display{
  width: 10em;
}
.score {
  color: white;
  font-size: medium;
}
.log {
    padding-top: 1em !important;  
    padding-left: 1em !important;
     width: 2em !important;
     height: 2em !important;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}